* {
  font-family: "Kumbh Sans", sans-serif;
  box-sizing: border-box;
}
.largeShoe {
  width: 500px;
  height: 400px;
  margin: -600px 0 0 30%;
  opacity: 1;
  position: absolute;
  z-index: 1000;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.navbar .container-fluid {
  padding: 30px;
  font-weight: 700px;
}
.cart {
  margin-right: 100px;
  cursor: pointer;
}
.avatar {
  cursor: pointer;
}
.nav-item:hover {
  border-bottom: solid orangered;
  border-width: 5px;
  padding-bottom: 5px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.shoe1 {
  height: 400px;
  width: 400px;
  border-radius: 0.5rem;
  margin: 2% 0 0 20%;
  position: relative;
  cursor: pointer;
}

#newImage {
  display: flexbox;
  height: 400px;
  width: 400px;
  border-radius: 0.7rem;
}
.items {
  margin-left: 20%;
  display: flex;
  margin-top: 2%;
}
.items img {
  width: 100px;
  height: 100px;
  border-radius: 0.5rem;
  padding: 1px;
  cursor: pointer;
  margin-right: 0px;
}

.side {
  width: 40%;
  margin: 0 0 0 50%;
  padding: 20px;
}
.side span.com {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  margin-left: 10%;
}
.side span.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10%;
}

.side p {
  font-size: 14px;
  margin-bottom: 20px;
  margin-left: 10%;
}

.side span.price {
  font-size: 18px;
  color: #333;
  margin-left: 10%;
}

.side span.discount {
  background-color: #ff5252;
  color: #fff;
  padding: 5px;
  margin-left: 10%;
}

.side span.oldPrice {
  font-size: 16px;
  text-decoration: line-through;
  color: #757575;
  margin-left: 10%;
}

.side button.sub,
.side button.add {
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 10%;
}

.side .qnt {
  display: inline-block;
  font-size: 18px;
  margin: 0 10px;
  margin-left: 10%;
}

.side button.addToCart {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 20%;
}
/* in js */
.imgClose {
  margin: -85px 0 0 90%;
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;
  padding: 1px;
  cursor: pointer;
  margin-right: 0px;
}
.largeShoeImg {
  width: 400px;
  height: 400px;
  border-radius: 0.5rem;
}
.list img {
  width: 100px;
  height: 100px;
  border-radius: 0.5rem;
  padding: 1px;
  cursor: pointer;
  margin-right: 0px;
}
.list {
  margin-left: 0%;
  display: flex;
  margin-top: 2%;
  position: absolute;
}
.forward {
  cursor: pointer;
  background-color: white;
  padding: 4%;
  border: solid 0.1px black;
  border-radius: 50rem;
}
.backward {
  position: absolute;
  margin: 50px 0 0 50px;
  cursor: pointer;
  background-color: white;
  padding: 4%;
  border: solid 0.1px black;
  border-radius: 50rem;
}
.box {
  width: 300px;
  height: 200px;
  margin-top: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background-color: white; /* Set a background color for the box */
}
.checkoutBtn {
  background-color: orange;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.notify {
  top: 4%;
  margin: 0% 0 0 68%;
  position: absolute;
  background-color: orangered;
  padding: 0.1%;
  border-radius: 15rem;
}
@media only screen and (max-width: 768px) {
  .column {
    width: 100%;
  }

  .side {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .box {
    margin-top: 10%;
  }

  .notify {
    margin: 0 0 0 60%;
  }
}
